body{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.hide{
    display: none;
}

#btn{
    background-color: chartreuse;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}